@import url('https://fonts.googleapis.com/css2?family=Caveat&family=PT+Sans+Narrow&family=Silkscreen&display=swap');
        
.h150{
    height: auto;
}
        
.h50{
    height: 70px;
}
.h1, .h4{
    font-family: 'Silkscreen', cursive;
}
.container{
    height: 100%;
}
.col-3{
    padding-top: 20px;
}
.col-md-4 {
    border: 1px solid black;
}
p {
    font-family: 'PT Sans Narrow', sans-serif;
}